@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'witches-note';
    src: url('font/witches-note-free.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }
@font-face {
    font-family: 'chero';
    src: url('font/chero.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }
@font-face {
    font-family: 'wrong';
    src: url('font/wrong-free-trial.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }

* {
	margin: 0;}

body {
	background-image: url("img/about Background.png");
	background-repeat: no-repeat;
	background-size: auto 130vh;
	background-position: left top;
  	overflow: hidden; /* Skjul alt, der går uden for skærmen */
  	height: 100vh; /* Sørg for, at body altid fylder hele højden af vinduet */
}
a{	
	text-decoration: none; /* Fjern understregning fra links */
}
h3 { /*menu*/
	font-family: "wrong";
	font-size:9vh;
	font-weight: 400;
}
h5 {
	font-family: "wrong";
	font-size:5vh;
	font-weight: 400;
}
/* Breadcrumbs */
.breadcrumbs p, a {
	color: darkred;
	opacity: 1;
	font-size: 2vh;
}
.breadcrumbs a:hover {
	opacity:1;
	color: #ff5d00;
}

/* Menu */
.perspective-menu {
	perspective: 50vh; /* Juster perspektivet */
	position:absolute;
	top:8vh; margin-left: 6vh; /*baseret på skærmens højde, da baggrundsbillede ikke skallerer ved ændring i bredde*/
}
.menu {
	width: 50vh; height: 82vh;/*baseret på skærmens højde, da baggrundsbillede ikke skallerer ved ændring i bredde*/
	background-color: rgba(255,255,255,0); /*gennemsigtigt*/
	transform: rotateY(29deg) skewY(-3deg); /* Gør området skævt*/ 
}
.menu a {
	display: block; /*menupunkterne står under hinanden*/
	color: rgba(0,0,0,0.75);
}
.home	{
	margin-left: 2vh;
	transform:   rotateZ(-15deg);
}
.investors	{
	margin-left: 20vh;
	margin-top: 2vh;
	transform:  rotateX(30deg) rotateZ(25deg);
}
.contact	{
	margin-left: 8vh;
	transform:   rotateZ(8deg);
}
/* Audio controls */
button img {
  	width: 8vh;
  	height: 8vh;
}
input[type="range"] {
  	width: 20vh;
  	height: 1vh;
	filter: invert(1); /* Inverterer farven på lydstyrke*/
}
.audio-controls {
  	margin-left: 7vh;
	margin-top: 28vh;
}

.warning{
	text-align: left;
	Padding: 0.5vh;
	color:rgba(255,0,5,0.60);
	position: absolute;
	top: 73vh; 
	margin-left: 62vh;
	perspective: 200vh;
}
.warning-text {
	transform: rotateX(50deg) skewY(-12deg); /* Gør området skævt*/ 
}
/* Video */
.video-container {
    width: 55vh;
    aspect-ratio: 16 / 9;
    overflow: hidden;
	position: absolute;
    top: 2vh;
    left: 58vw;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Captions timing */
.captions-box.play-captions .caption:nth-child(1) {
  animation-delay: 4s; }
.captions-box.play-captions .caption:nth-child(2) {
  animation-delay: 15s; }
.captions-box.play-captions .caption:nth-child(3) {
  animation-delay: 24s; }
.captions-box.play-captions .caption:nth-child(4) {
  animation-delay: 33s; }
.captions-box.play-captions .caption:nth-child(5) {
  animation-delay: 42s; }
.captions-box.play-captions .caption:nth-child(6) {
  animation-delay: 51s; }
.captions-box.play-captions .caption:nth-child(7) {
  animation-delay: 60s; }
.captions-box.play-captions .caption:nth-child(8) {
  animation-delay: 69s; }


@media screen and (max-aspect-ratio:4/3){

body {
	background-image: url("img/about Background portrait.png");
	background-size: 100vw auto;
  	height: auto; 
	width: 100vw;
}
h3 { /*menu*/
	font-size:5vw;
}
h5 { /*warning*/
	font-size:5.5vw;
}
/* Breadcrumbs */
.breadcrumbs p, a {
	font-size: 3vw;
}
/* Menu */
.perspective-menu {
	perspective: 28vw; 
	top:5vw; margin-left: 3vw;
}
.menu {
	width: 30vw; height: 46vw;
	transform: rotateY(29deg) skewY(0deg); 
}
.home	{
	margin-left: 1vw;
}
.investors	{
	margin-left: 13vw;
	margin-top: 1vw;
}
.contact	{
	margin-left: 5vw;
}
/* Audio controls */
button img {
  	width: 7vw;
  	height: 7vw;
}
input[type="range"] {
  	width: 16vw;
}
.audio-controls {
  	margin-left: 1vw;
	margin-top: 15vw;
}
.warning{
	top: 53vw; 
	margin-left: 25vw;
	perspective: 200vw;
}
/* Video */
.video-container {
    width: 50vw;
    top: 2vw;
    left: 48vw;
}
}

@media screen and (max-aspect-ratio:2/3){
	
body {
	background-image: url("img/about Background phone.png");	
}
h3 { /*menu*/
	font-size:8vw;
}
h5 { /*warning*/
	font-size:8vw;
}
/* Breadcrumbs */
.breadcrumbs p, a {
	font-size: 4vw;
}
/* Menu */
.perspective-menu {
	perspective: 42vw; 
}
.menu {
	width: 45vw; height: 75vw;
}
.home	{
	margin-left: 2vw;
}
.investors	{
	margin-left: 18vw;
	margin-top: 2vw;
}
.contact	{
	margin-left: 7vw;
}
/* Audio controls */
button img {
  	width: 9vw;
  	height: 9vw;
}
input[type="range"] {
  	width: 25vw;
}
.audio-controls {
  	margin-left: 2vw;
	margin-top: 24vw;
}
.warning{
	top: 66vw; 
	margin-left: 35vw;
}
	/* Video */
.video-container {
    width: 80vw;
    top: 98vw;
    left: 10vw;
}
}