@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'witches-note';
    src: url('font/witches-note-free.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }
@font-face {
    font-family: 'chero';
    src: url('font/chero.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }
@font-face {
    font-family: 'wrong';
    src: url('font/wrong-free-trial.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }

* {
	margin: 0;}

body {
	background-image: url("img/about Background.png");
	background-repeat: no-repeat;
	background-size: auto 130vh;
	background-position: left top;
  	overflow: hidden; /* Skjul alt, der går uden for skærmen */
  	height: 100vh; /* Sørg for, at body altid fylder hele højden af vinduet */
}

h5 {
	font-family: "wrong";
	font-size:5vh;
	font-weight: 400;
}

/* Menu */
.perspective-menu {
	perspective: 50vh; /* Juster perspektivet */
	position:absolute;
	top:8vh; margin-left: 6vh; /*baseret på skærmens højde, da baggrundsbillede ikke skallerer ved ændring i bredde*/
}
.menu {
	width: 50vh; height: 82vh;/*baseret på skærmens højde, da baggrundsbillede ikke skallerer ved ændring i bredde*/
	background-color: rgba(255,255,255,0); /*gennemsigtigt*/
	transform: rotateY(29deg) skewY(-3deg); /* Gør området skævt*/ 
}
.menu a {
	display: block; /*menupunkterne står under hinanden*/
	text-decoration: none; /* Fjern understregning fra links */
	color: rgba(0,0,0,0.75);
}
.menu h5 {
	font-size:9vh;
	font-weight: 400;
}
.home	{
	margin-left: 2vh;
	transform:   rotateZ(-15deg);
}
.investors	{
	margin-left: 20vh;
	margin-top: 2vh;
	transform:  rotateX(30deg) rotateZ(25deg);
}
.contact	{
	margin-left: 8vh;
	transform:   rotateZ(8deg);
}
/* Audio controls */
button img {
  	width: 8vh;
  	height: 8vh;
}
input[type="range"] {
  	width: 20vh;
  	height: 1vh;
	filter: invert(1); /* Inverterer farven på lydstyrke*/
}
.audio-controls {
  	margin-left: 7vh;
	margin-top: 28vh;
}

.warning{
	text-align: left;
	Padding: 0.5vh;
	color:rgba(255,0,5,0.60);
	position: absolute;
	top: 73vh; 
	margin-left: 62vh;
	perspective: 200vh;
}
.warning-text {
	transform: rotateX(50deg) skewY(-12deg); /* Gør området skævt*/ 
}

/* Captions timing */
.caption:nth-child(1) {animation-delay: 3s; }
.caption:nth-child(2) {animation-delay: 25s; }
.caption:nth-child(3) {animation-delay: 50s; }
.caption:nth-child(4) {animation-delay: 75s; }
.caption:nth-child(5) {animation-delay: 90s; }
.caption:nth-child(6) {animation-delay: 110s; }


@media screen and (max-aspect-ratio:4/3){
	body {
		background-size: auto 100vh;}
	
	/* Menu */
.perspective-menu {
	top:4vh; margin-left: 2vh; 
}
.menu {
	width: 43vh; height: 62vh;
	transform: rotateY(35deg) skewY(-1deg); /* Gør området skævt*/ 
}
.menu h5 {
	font-size:7.5vh;
	}
.audio-controls {
  	margin-left: 2vh;
	margin-top: 20vh;
}
.warning{
	top: 62vh; 
	margin-left: 40vh;
}

}
