@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'witches-note';
    src: url('font/witches-note-free.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }
@font-face {
    font-family: 'chero';
    src: url('font/chero.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }
@font-face {
    font-family: 'wrong';
    src: url('font/wrong-free-trial.regular.otf') format('opentype');
    font-weight: normal; 
    font-style: normal; }

* {
	margin: 0;}

body {
	background-image: url("img/Ratman_Den2.webp");
	background-repeat: no-repeat;
	background-size: auto 100vh;
	background-position: left top;}

h5 {
	font-family: "wrong";
	font-size:5vh;
	font-weight: 400;
	text-align: left;
	margin-left: 5vh;
	Padding: 0.5vh;
	color:black;}