@charset "utf-8";
/* CSS Document */

/* Fonts */
@font-face {
	font-family: "Univers-UltraCondensed";
	src: url("font/UniversLTStd-LightUltraCn.woff") format("woff");
}
@font-face {
	font-family: "Univers";
	src: url("font/UniversLTStd.woff");
}
@font-face {
	font-family: "Univers-Black";
	src: url("font/UniversLTStd-BlackObl.woff");
}

/* Reset */
* {
	margin: 0;
}

/* Body styling */
body {
	background-image: url("img/contact Background.png");
	background-color: rgba(60,70,73,1.00); /* Blå-Grå fallback */
	background-repeat: no-repeat;
	background-size: auto 100vh; 
	background-position: top left;
	overflow: hidden; /* Skjul alt, der går uden for skærmen */
	height: 100vh; /* Sørg for, at body altid fylder hele højden af vinduet */
}
/*text-styling*/
h4 { /*contact*/
	font-family: "Univers-ultracondensed";
	font-size: 7vh;
}
h5 { /*menu*/
	font-family: "Univers-Black";
	font-size:4.5vh;
	font-weight: 400;
	text-align: left;
	margin-left: 3vh;
	padding-bottom: 1vh;
	color:white;
}
h6 { /*headline textbox*/
	font-family: "univers";
	color: #ff9a00;
	font-size: 3vh;
	margin: 1.5vh 0vh;}
p { /*text*/
	font-family: "univers";
	color: white;
	font-size: 2vh;
}
a {/*links*/
	text-decoration: none; /* Fjern understregning fra links */
}
.textbox1 a{
	color: #ff9a00;
}
.textbox2 a{
	color: #ff9a00;
}
/* Breadcrumbs */
.breadcrumbs a {
	color: #ff5d00;
	opacity: 0.8;
	font-size: 2vh;
}
.breadcrumbs p {
	color: #ff5d00;
	opacity: 0.8;
	font-size: 2vh;
}
.breadcrumbs a:hover {
	opacity:1;
	color: #ff9a00;
}

/*Textbox*/
.textbox1{
	width: 27vh;
	height: 22vh;
	background-color: rgba(0,0,0,0.40);
	border-radius: 1vh;
	position: absolute;
	top: 13vh;
	left: 43vh;
	padding: 2vh;
}
.textbox2{
	width: 30vh;
	height: 22vh;
	background-color: rgba(0,0,0,0.40);
	border-radius: 1vh;
	position: absolute;
	top: 13vh;
	left: 77vh;
	padding: 2vh;
}

/* Contact */
.perspective-contact {
	perspective: 30vh; 
	position:absolute;
	top: 19vh; margin-left: 115vh;
}
.contact {
	width: 35vh; height: 53vh; 
	background-color: rgba(255,0,0,0); 
	transform: rotateY(-20deg) skewY(-7deg); 
}
.call, .mail, .socials {
	display: flex; 
	flex-direction: row;
	align-items: flex-start;
	gap: 2vh; 
	padding-left: 2vh;
}
.contact a {
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	gap: 4vh; /* Mellemrum mellem ikonet og teksten */
	padding-top: 3.5vh;
	padding-bottom: 5.5vh;
}
.icon{
	width: 8vh;
	height: 8vh;
	filter: invert(1); /* Inverterer farven på mute-ikon så den bliver hvid */
}

/* Logo */
.perspective-logo {
	perspective: 30vh; 
	position:absolute;
	top: -3vh; margin-left: 113vh; 
}
.logo {
	position: relative;
	width: 40vh; height: 18vh; 
	background-color: rgba(255,0,0,0); 
	transform: rotateY(-20deg) skewY(-25deg); 
}
#portal-logo{
	width: 100%;
	height: 100%;
	transform:inherit;
	opacity: 0.6;
}
/* Menu */
.perspective-menu {
	perspective: 100vh; 
	position:absolute;
	top: 31vh; margin-left: 6vh;
}
.menu {
	width: 33vh; height: 46vh;
	background-image: url("img/Portal Gun.png");
	background-size: cover;
	background-color: rgba(255,255,255,0.7); 
	border: 0.5vh solid rgba(100,100,100,1.00);
	transform: rotateY(15deg) skewY(0deg); 
}
.menu-links{
	margin-top: 6vh;
}
.menu a {
	display: block; /*menupunkterne står under hinanden*/
	color:white;
}


/* Audio controls */
button img {
  	width: 6vh;
  	height: 6vh;
	filter: invert(1); /* Inverterer farven på mute-ikon så den bliver hvid */
}
input[type="range"] {
  	width: 18vh;
  	height: 1vh;
}
.audio-controls {
  	margin-left: 2vh;
	margin-top: 3vh;
}


/* Captions timing */
.captions-box.play-captions .caption:nth-child(1) {
  animation-delay: 3s; }
.captions-box.play-captions .caption:nth-child(2) {
  animation-delay: 12s; }
.captions-box.play-captions .caption:nth-child(3) {
  animation-delay: 21s; }
.captions-box.play-captions .caption:nth-child(4) {
  animation-delay: 35s; }
.captions-box.play-captions .caption:nth-child(5) {
  animation-delay: 44s; }
.captions-box.play-captions .caption:nth-child(6) {
  animation-delay: 62s; }



@media screen and (max-aspect-ratio:4/3){
body {
	background-image: url("img/contact Background portrait.png");
	background-position: top -20vw center;
	background-size: 100vw auto ;
}
h4 { /*contact*/
	font-size: 4vw;
}	
h5 { /*menu*/
	font-size:2.8vw;
	margin-left: 3vw;
	padding-bottom: 0.5vw;
}
h6 { /*textbox headline*/
	font-size: 2.5vw;
	margin: 1vw 0vw;
	}	
p {
	font-size: 2vw;
	}

/*textbox*/	
.textbox1{
	width: 33vw;
	height: 22vw;
	top: 6vw;
	left: 29vw;
	padding: 2vw;
}
.textbox2{
	width: 33vw;
	height: 20vw;
	top: 40vw;
	left: 29vw;
	padding: 2vw;
	padding-top: 2vw;
}
	
/* Contact */
.perspective-contact {
	perspective: 20vw; 
	top: 21vw; margin-left: 72vw;	
}
.contact {
	width: 23vw; height: 35vw; 
	transform: rotateY(-20deg) skewY(-6deg); 
}
.call, .mail, .socials {
	gap: 1vw; 
	padding-left: 4vw;
}
.contact a {
	gap: 1.5vw;
	padding-top: 1.5vw;
	padding-bottom: 4.5vw;
}
.call, .mail, facebook-icon, x-icon, linkedin-icon:hover {
    color: #ff5d00;
}
.icon{
	width: 5vw;
	height: 5vw;
}

/* Logo */
.perspective-logo {
	perspective: 20vw; 
	top: 3.5vw; margin-left: 67vw;
}
.logo {
	width: 30vw; height: 17vw;
	transform: rotateY(-20deg) skewY(-30deg); 
}
/* Menu */
.perspective-menu {
	perspective: 50vw;
	top: 28vw; margin-left: 3vw;
}
.menu {
	width: 21vw; height: 30vw;
	transform: rotateY(15deg) skewY(0deg);
}
.menu-links{
	margin-top: 2vw;
}	


/* Audio controls */
button img {
  	width: 5vw;
  	height: 5vw;
}
input[type="range"] {
  	width: 10vw;
  	height: 1vw;
}
.audio-controls {
  	margin-left: 1vw;
}	
}
@media screen and (max-aspect-ratio:5/6){

body {
	background-image: url("img/contact Background portrait.png");
	background-position: top 0vw center;
	background-size: 100vw auto ;
}
p {
	font-size: 2.2vw;
	}
/*textbox*/	
.textbox1{
	top: 16vw;
}
.textbox2{
	top: 75vw;
}
/* Contact */
.perspective-contact {
	top: 38vw; 
}
/* Logo */
.perspective-logo {
	top: 20vw; 
}
/* Menu */
.perspective-menu {
	top: 48vw;
}
}

@media screen and (max-aspect-ratio:2/3){
	
body {
	background-image: url("img/contact Background phone.png");
}
h6 { /*textbox headline*/
	font-size: 3.5vw;
	margin-bottom: 2.5vw;
	}	
p {
	font-size: 3vw;
	}
/*textbox*/	
.textbox1{
	top: 85vw;
	left: 15vw;
	height: 31vw;
	width: 70vw;
}
.textbox2{
	top: 123vw;
	left: 15vw;
	height: 23vw;
	width: 70vw;
}
/* Contact */
.perspective-contact {
	top: 42vw; 
}
/* Logo */
.perspective-logo {
	top: 24vw; 
}
/* Menu */
.perspective-menu {
	top: 52vw;
}	
	
}