@charset "utf-8";
/* CSS Document */


/* Audio controls */
.audio-controls {
  	display: flex;
 	align-items: center;
  	gap: 1vh;
}
button {
  	background: none;
  	border: none;
  	cursor: pointer;
  	outline: none;
}

input[type="range"] {
  	background:#ccc;
  	border-radius: 0.1vh;
  	outline: none;
  	cursor: pointer;
}

/* Captions */
.captions-box {
	display: flex;
	flex-direction: column;
  	justify-content: center;
 	align-items: center;
    height: 13vh;
	position: absolute;
	top: 87vh;
	left: 2vw;
    margin: 0;
    }
.captions {
    position: relative;
    width: 96vw;
    text-align: center;
    display: flex; /* Gør det til en flex-container */
    justify-content: center; /* Centrerer horisontalt */
    align-items: center; /* Centrerer vertikalt */
    height: 100%; /* Sørger for, at det udfylder hele .captions-box */
    }
.caption {	
	font-family: "Univers", Arial, sans-serif;
	font-size: 3vh;
	color:rgba(200,0,0,1.00);
	background: rgba(0, 0, 0, 0.7);
    border-radius: 1px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
	padding: 8px 40px; /*baggrundsfarven strækker sig 5px fra top og bund og 30px til siderne*/
	text-align: center; /* Centrerer teksten inde i hver caption */
    opacity: 0;
	position: absolute;
}
/*Animation-Timing*/
.captions-box.play-captions .caption {
  	animation: fadeInOut 9s linear forwards; 
	/*tid for hele animationssekvensen, sikrer at den kun afspiller en enkelt gang*/
}
/* Animation */
@keyframes fadeInOut {
	10%, 90% {opacity: 1;} /*er fuldt synlig*/
	0%, 100% {opacity: 0;} /*er usynlig*/
}


@media screen and (max-aspect-ratio:4/3){
	
.caption {	
	font-size: 2.5vh;
}
}
@media screen and (max-aspect-ratio:1){

.captions-box {
	top: 84vh;
}
.caption {	
	font-size: 2.5vh;
}
}